@using HousePrices.Web.Controllers
@using Humanizer
@model SearchResults
@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchResults</h2>

@await Html.PartialAsync("TransactionList", Model)
