@using HousePrices.Web.Controllers
@using Humanizer
@model HousePrices.Web.Controllers.PagedResult<HousePrices.Web.Controllers.Results>
@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchResults</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@await Html.PartialAsync("TransactionList", Model.Results)
