@model SearchResults
<table class="table table-striped">
    <partial name="TransactionListHeader" for="@Model.Transactions.Results" />
    <partial name="TransactionListBody" for="@Model.Transactions.Results"/>
</table>